body{
	font-family: arial;
}

p{
	font-weight: bold;
}

.differentText{
	font-family: courier;
}

#highlight{
	border-style: solid;
	border-width: 5px;
}

.bigger{
	font-size: 1.5em;
}

a:hover{
	color : red;
}